[submodule "l10n_ar"]
	path = l10n_ar
	url = git@github.com:odoo-mastercore/l10n_ar.git
	branch = develop


[submodule "addons-OCA/website"]
	path = addons-OCA/website
	url = git@github.com:OCA/website.git
	branch = 11.0
